$color-picker-width: 500px;
$hue-picker-height: 50px;


html {
    margin: 0;
}


body {
    font-family: Arial;
    margin: 0;
}


.background {
    transition: .2s ease background-color;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(128, 128, 128);
    z-index: -10;
}


.container {
    width: 99vw;
    max-width: 500px;
    display: block;
    margin: auto;
}


.gradient-wrapper {
    transition: .2s ease background-color;
    position: relative;
    width: calc(99vw - 4rem);
    max-width: calc(500px - 4rem);
    height: calc(99vw - 4rem);
    max-height: calc(500px - 4rem);
    //overflow: hidden;
    margin: 2rem;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #000 100%),linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.gradient-circle {
    transition: .2s ease top, .2s ease left;
    position: absolute;
    border: 5px solid white;
    height: calc($hue-picker-height - 10px);
    width: calc($hue-picker-height - 10px);
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: $hue-picker-height;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}


.huepicker-wrapper {
    position: relative;
    width: calc(99vw - 4rem);
    max-width: calc(500px - 4rem);
    height: $hue-picker-height;
    margin: 2rem;
    overflow: hidden;
    border-radius: 99vw;
}

.huepicker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f00 0, #ff0 16%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 84%, #ff0004 100%);
    z-index: -1;
}

.huepicker-circle {
    transition: .2s ease left;
    position: absolute;
    height: calc($hue-picker-height - 10px);
    width: 10px;
    background-color: white;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
}


.color-display {
    transition: .2s ease background-color;
    width: 100px;
    height: 100px;
    background-color: rgb(128, 128, 128);
}
